<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Minutes of Meeting</title>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script> $(function(){$("#includedContent").load("template.html"); });</script>  
<style>
hr {
  background-color: #bbb;
  height: 2px;
  border: none;
}
hr:nth-child(3) {
  background-color: #09c;
  height: 2px;
  border: none;
}
</style> 

<script type="text/javascript" >
    $('table').addClass('table table-bordered table-striped');
</script>   
</head>
<body>
    <div id="includedContent"></div>
</body>
</html>