<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Minutes of Meeting</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>
hr {
  background-color: #bbb;
  height: 2px;
  border: none;
}
hr:nth-child(3) {
  background-color: #09c;
  height: 2px;
  border: none;
}
</style> 

<script type="text/javascript" >
    $('table').addClass('table table-bordered table-striped');
</script>   
</head>
<body>
        <div class="container">
        <p><strong>Title:</strong> Meeting</p>
        <p><strong>Date:</strong> {{mom.date}}</p>
        <p><strong>Time:</strong> {{mom.time}}</p>
        <p><strong>Participants:</strong> {{mom.participants}}</p>
        <hr>
        <p><strong>Pointers</strong></p>
        <ul>
            {% for item in mom.pointers %}
            <li>{{ item}} </li>  {% endfor %}
        </ul>
        <p><strong>Questions Raised</strong></p>
        <ul>
            {% for item in mom.questions %}
            <li>{{ item}} </li>  {% endfor %}
        </ul>
        <p><strong>Action Points</strong></p>
            <ul>
                {% for item in mom.action %}
                <li>{{ item}} </li>  {% endfor %}
            </ul>  
        </div>
</body>
</html>